
hr.divider {
    border-top: 5px solid rgba(255,255,255,.2)
}
section#talks {
    div.talk {
        margin-bottom: 50px;

        div.talk-content {
            margin-bottom: 40px;
        }
    }
    h3 {
        font-size: 40px;
    }
    p {
        text-align: left;
        white-space: pre-wrap;
    }
}

h3.talk-title {
    color: $pink;
}
h4.speaker {
    .speaker-prefix {
        color: $theme-fg;
    }
    color: $blue;
}

a.sneaky-anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}
