// Variables


$blue: #a6cdfa;
$purple: #f2c8fd;
$pink: #ff75e5;
$grey: #454545;


$lightblue: $blue;

// Foreground colour
$theme-primary: $purple;
$theme-secondary: $blue;

// Background colour
$theme-success: #444349;
$theme-fg: $purple;
$theme-bg: #380557;

$background: $theme-bg;


$star-purple: $purple;
$star-pink: $pink;
$star-blue: $blue;
$star-yellow: #83dbef;


$background-grey: #444349;

$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);
