---
layout: default
---

<div class="">

    <section id="schedule-hero" class="portfolio success">
      <div class="container">
          <h2 class="text-center">Schedule</h2>
        <hr class="star-primary ">
      </div>
  </section>
  <section id="schedule" class="portfolio success">
      <div class="container">
              {% for talk in site.data.schedule %}
              <div class="schedule-grid">
                        <div class="talk-time">
                            <span class="start-time">{{ talk.time }}</span>
                        </div>
                        <div class="speaker">{{ talk.speaker_name}}</div>
                        <div class="title">
                            {% if talk.speakername %}
                            <a href="/talks#{{ talk.speakername}}">{{ talk.talk_title}} [keynote]</a>
                            {% else %}
                            <span>{{ talk.talk_title }}</span>
                            {% endif %}
                        </div>
              </div>
                  {% endfor %}
      </div>

  </section>

</div>
