  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="@mangopdf">

    <title>purplecon</title>
    <meta name="description" content="{{ site.con_description_short }}" >

    <meta property="og:title" content="purplecon">
    <meta property="og:description" content="{{ site.con_description_short }}">
    <meta property="og:image" content="{{ site.logo_url }}">
    <meta property="og:url" content="https://purplecon.nz{{ page.url }}">

    <meta name="twitter:title" content="purplecon">
    <meta name="twitter:description" content="{{ site.con_description_short }}">
    <meta name="twitter:image" content="{{ site.logo_url }}">
    <meta name="twitter:card" content="summary_large_image">

    <link href="{{ "vendor/bootstrap/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">

    <link href="{{ "vendor/font-awesome/css/font-awesome.min.css" | relative_url }}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="{{ "css/freelancer.min.css" | relative_url }}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link type="text/css" rel="stylesheet" media="screen" href="/css/jquery-sakura.css" />

    <!-- NSA tracking-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39885839-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-39885839-9');
    </script>

</head>
